@media (min-width: 600px) and (max-width: 900px) {
    .container {
    height:100vh;
      display: grid;
      grid-template-columns: 250px auto;
      grid-template-rows: 150px 50px 600px 80px;
      grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "nv nv nv nv nv nv nv nv"
        "sd main main main main main main main"
        "ft ft ft ft ft ft ft ft ";
    }
    

    html,body {
        color: white;
        font-size: 15px;
        /*background-image: url(https://thumbs.dreamstime.com/b/beautiful-rain-forest-ang-ka-nature-trail-doi-inthanon-national-park-thailand-36703721.jpg);
            background-image: cover ;*/
        text-decoration: none;
        height:100%;
      }
    
    
    .header {
        grid-area: hd;
        color: white;
        width:98%;
       
        
      }
    
    
    
    h1 {
       color: hsl(173, 51%, 19%);
       background-color: rgba(203, 209, 143, 0.6);
       text-align: center;
       font-size: 38.4px;
       padding:20px;
      }
    
    h2 {
       color: hsl(173, 51%, 19%);
       text-align: center;
       font-size:24px;
      }

    
    
    ul{margin-top: 0%;}
    
    ul > li {
       overflow: hidden;
       list-style-type: none;
       min-width: 70px;
       float: left;
       padding-right:35px;
      
     }
        
    ul li a {
        text-decoration: none;
        display: block;
        color: white;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        }
          
    ul li a:hover {
        color: rgba(203, 209, 143, 0.8);
        font-style: oblique;
        border: rgba(203, 209, 143, 0.6) 2px solid;
        }
          
    .nav {
        grid-area: nv;
        background-color:/*rgb(111, 1,0,0.7);*/ rgba(0, 0, 0, 0.8);
        margin: 0%;
        padding: 0%;
        font-size: 19.2px;
        }
        
          
    .footer {
        grid-area: ft;
        background-color: rgba(0, 0, 0, 0.8);
        font-size: 16px;
          }
    
    .fa {
        padding: 8px;
        width: 15px;
        height: 15px;
        text-align: center;
        text-decoration: none;
        border: 1px solid white;
        border-radius: 20%;
        margin: 3px;
        justify-content: center;
        }
          
      
        h3 {
        color: hsl(173, 51%, 19%);
        margin: 8px;
        font-size: 19.2px;
        text-align: center;
        }

        h4 {
        color: hsl(173, 51%, 19%);
        margin: 8px;
        font-size: 15px;
        text-align: center;
        }
        
        .author {
            display: grid;
            height: fit-content;
            width: 250px;
            max-height: 550px;
            grid-template-columns: 100%;
            grid-template-rows: 10% 45% 40% 5%;
            grid-template-areas:
                "hdr"
                "pic"
                "inf"
                "sub";
            /*border-radius: 20%;*/
            margin:5px;
            align-content: center;
            justify-content: center;
            background-color: rgba(203, 209, 143, 0.6);
            opacity: 0.9;
            margin-top:30px;
        }
        
        #hdr {
            font-size: 19.2px;
            grid-area: hdr;
            display: flex;
            flex: wrap;
            align-content: center;
            justify-content: center;
            text-decoration: underline;
            color: hsl(173, 51%, 19%);
        }
        
        #avatar {
            grid-area: pic;
            display: flex;
            flex: wrap;
            background-image: url(D:/PersonalBlogWebsite/image/Authorpic.jpeg);
            width: 160px;
            height: 230px;
            background-size: cover;
            border-radius: 40%;
            margin:auto;
            opacity: 85%;
        }
        
        #info {
            width: auto;
            grid-area: inf;
            display: block;
            justify-content: center;
            text-align: center;
            color: hsl(173, 51%, 19%);
            padding:10px;
            
        }
        
        #subscribe {
            grid-area: sub;
            text-align: center;
            width: auto;
            margin-top:10px;
            font-size: 10px;
         }
        
        a > button {
            font-size: 10px;
        }
        
        a > button:hover {
            color: white;
            background-color: rgba(0, 0, 0, 0.201);
            border: 15px rgba(0, 0, 0);
            text-decoration: none;
        }
        
        
        .sidebar {
            grid-area: sd;
        }
        
        .content {
            grid-area: main;
        }
        
        #nested-grid {
            display: grid;
            width:90%;
            height: 90%;
            grid-template-columns: 100%;
            grid-template-rows: 20% 60%;
            align-items: center;
            justify-content: center;
            grid-gap:15px;
            grid-template-areas:
              "head"
              "cc";
             
            
         }


         #card {
            width: 550px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            border-radius: 5%;
            float: left;
            overflow: hidden;
            
            
              
            }
        
        #heading {
            grid-area: head;
            padding:0%;
            margin:0%;
            font-size: 15px;
        }
        
         #cnt {
            grid-area: cc;
            
            font-size: 20px;
            padding:10px;
           
        display: flex;
        flex: wrap;
        width: 550px;
        height: 280px;
        color: #8e964d;
        word-spacing: 5px;
        line-height: 35px;
        padding:0%;
       
            
        }
    

   


    form{
        font-size:12.8px;
    }

       
    

}