@media (min-width: 600px) and (max-width: 900px) {
    .container {
      display: grid;
      grid-template-columns: 250px auto;
      grid-template-rows: 150px 50px 700px 60px;
      grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "nv nv nv nv nv nv nv nv"
        "sd sd main main main main main main"
        "ft ft ft ft ft ft ft ft ";
    }

    html,body{
      font-size:1em;
    }

    .header {
        grid-area: hd;
        color: white;
        
        
      }
    
    
    
    h1 {
       color: hsl(173, 51%, 19%);
       background-color: rgba(203, 209, 143, 0.6);
       text-align: center;
       padding:20px;
       font-size: 38.4px;
      }
    
    h2 {
       color: hsl(173, 51%, 19%);
       text-align: center;
       font-size: 24px;
      }
    
    ul{margin-top: 0%;}
    
    ul > li {
       overflow: hidden;
       list-style-type: none;
       min-width: 70px;
       float: left;
       padding-right:35px;
      
     }
        
    ul li a {
        text-decoration: none;
        display: block;
        color: white;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        }
          
    ul li a:hover {
        color: rgba(203, 209, 143, 0.8);
        font-style: oblique;
        border: rgba(203, 209, 143, 0.6) 2px solid;
        }
          
    .nav {
        grid-area: nv;
        background-color:/*rgb(111, 1,0,0.7);*/ rgba(0, 0, 0, 0.8);
        margin: 0%;
        padding: 0%;
        font-size: 1.2em;
        }
        
        
          
    .footer {
        grid-area: ft;
        background-color: rgba(0, 0, 0, 0.8);
        font-size: 1em;
          }
    
    .fa {
        padding: 8px;
        width: 15px;
        height: 15px;
        text-align: center;
        text-decoration: none;
        border: 1px solid white;
        border-radius: 20%;
        margin: 3px;
        justify-content: center;
        }


        h3 {
            margin: 5px;
            font-size: 1em;
            text-align: center;
          }
          
          .author {
            display: grid;
            max-height: 550px;
            max-width: 200px;
            grid-template-columns: 100%;
            grid-template-rows: 10% 40% 45% 5%;
            grid-template-areas:
              "hdr"
              "pic"
              "inf"
              "sb";
            /*border-radius: 20%;*/
            grid-gap:5px;
            justify-content: center;
            align-content: center;
            margin: 5px;
            background-color: rgba(203, 209, 143, 0.6);
            opacity: 0.9;
            margin-top:30px;
          }
          
          
          #hdr {
            grid-area: hdr;
            font-size: 1.2em;
            display: flex;
            flex: wrap;
            align-content: center;
            justify-content: center;
            text-decoration: underline;
            color: hsl(173, 51%, 19%);
          }
          
          #avatar {
            grid-area: pic;
            display: flex;
            flex: wrap;
            background-image: url(D:/PersonalBlogWebsite/image/Authorpic.jpeg);
            width: 160px;
            height: 230px;
            background-size: cover;
            border-radius: 40%;
            margin:auto;
            opacity: 85%;
          }
          
          #info {
            grid-area: inf;
            display: block;
            flex: wrap;
            justify-content: center;
            margin:15px;
            padding:5px;
            text-align: center;
            color: hsl(173, 51%, 19%);
            font-size:0.8em;
          }
          
          textarea {
            resize: none;
          }
          
          #submit {
            grid-area: sb;
            text-align: center;
            width: auto;
            font-size: 0.8em;
          }
          
          a > button {
            font-size: 0.8em;
          }
          
          
          a > button:hover {
            color: white;
            background-color: rgba(0, 0, 0, 0.201);
            border: 15px rgba(0, 0, 0);
            text-decoration: none;
          }
          
          .sidebar {
            grid-area: sd;
          }
          
          .content {
            grid-area: main;
          }
          
          #nested-grid {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 10% 35% 55%;
            align-items: center;
            justify-content: center;
            grid-template-areas:
              "head"
              "img"
              "cc";
            grid-gap:15px;
          }
          
          #heading {
            grid-area: head;
            padding:0%;
            margin:0%;
          }
          
          #im {
            grid-area: img;
            background-image: url(https://imagesvc.meredithcorp.io/v3/jumpstartpure/image?url=https://cf-images.us-east-1.prod.boltdns.net/v1/static/3281700261001/6a204d6b-0fe4-45c8-a63e-b2e09c11de32/a13648d5-c0b9-4ded-8ecd-89aad8634e6c/1280x720/match/image.jpg&w=1280&h=720&q=90&c=cc);
            background-size: cover;
            min-width:200px;
            min-height:150px;
            margin: 2px;
            display: flex;
            flex: wrap;
            border: black solid;
          }
          
          #cnt {
            grid-area: cc;
            display:block;
            word-spacing: 2px;
            line-height: 12px;
            min-width: 250px;
            height: 400px;
            color: #8e964d;
            font-size: 0.8em;
            margin-top: 30px;
            
          }
           

}

