@media (min-width: 600px) and (max-width: 900px) {
    .container {
      display: grid;
      grid-template-columns: 250px auto;
      grid-template-rows: 150px 50px 750px 60px;
      grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "nv nv nv nv nv nv nv nv"
        "sd sd main main main main main main"
        "ft ft ft ft ft ft ft ft ";
    }

    html,body{
      font-size:1em;
    }

    .header {
        grid-area: hd;
        color: white;
        font-size: 1.2em;
      }
    
    
    
     h1 {
       color: hsl(173, 51%, 19%);
       background-color: rgba(203, 209, 143, 0.6);
       text-align: center;
       padding:20px;
       
      }
    
      h2 {
       color: hsl(173, 51%, 19%);
       text-align: center;
       font-size: 19.2px;
      }
    
     ul{margin-top: 0%;}
    
     ul > li {
       overflow: hidden;
       list-style-type: none;
       min-width: 70px;
       float: left;
       padding-right:35px;
      
     }
        
      ul li a {
        text-decoration: none;
        display: block;
        color: white;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        }
          
      ul li a:hover {
        color: rgba(203, 209, 143, 0.8);
        font-style: oblique;
        border: rgba(203, 209, 143, 0.6) 2px solid;
        }
          
      .nav {
        grid-area: nv;
        background-color:/*rgb(111, 1,0,0.7);*/ rgba(0, 0, 0, 0.8);
        margin: 0%;
        padding: 0%;
        font-size: 1.2em;
        }
        
          
      .footer {
        grid-area: ft;
        background-color: rgba(0, 0, 0, 0.8);
        font-size: 1em;
          }
    
      .fa {
          padding: 8px;
            width: 15px;
            height: 15px;
            text-align: center;
            text-decoration: none;
            border: 1px solid white;
            border-radius: 20%;
            margin: 3px;
            justify-content: center;
          }      
        
    
      a > button:hover {
        color: white;
        background-color: rgba(0, 0, 0, 0.4);
      }
        
    
      .author {
        display: grid;
        max-height: 550px;
        max-width: 200px;
        grid-template-columns: 100%;
        grid-template-rows: 10% 40% 40% 5%;
        grid-template-areas:
          "hdr"
          "pic"
          "inf"
          "mr";
        grid-gap: 5px;
        /*border-radius: 20%;*/
        padding: 2px;
        align-content: center;
        justify-content: center;
        margin: 5px;
        background-color: rgba(203, 209, 143, 0.6);
        opacity: 0.9;
        margin-top:30px;
        }
        
      #hdr {
        font-size: 1.2em;
        grid-area: hdr;
        display: flex;
        flex: wrap;
        align-content: center;
        justify-content: center;
        color: hsl(173, 51%, 19%);
        text-decoration: underline;
        }
        
      #avatar {
        grid-area: pic;
        display: flex;
        flex: wrap;
        background-image: url(D:/PersonalBlogWebsite/image/Authorpic.jpeg);
        min-width: 160px;
        min-height: 230px;
        background-size: cover;
        border-radius: 40%;
        margin:auto;
        }
    
      #info {
        
        grid-area: inf;
        display: flex;
        flex: wrap;
        justify-content: center;
        color: hsl(173, 51%, 19%);
        padding: 10px;
        font-size:0.8em;
        word-spacing: 3px;
        line-height: 20px;
        }
        
      #more {
        grid-area: mr;
        width: auto;
        text-align: center;
        }
        
      a > button:hover {
        color: white;
        background-color: rgba(0, 0, 0, 0.4);
      }
        
      .sidebar {
        grid-area: sd;
      }
    
      .content {
        grid-area: main;
      }
    
      #nested-grid {
        
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        align-items: center;
        justify-content: center;
        grid-gap:1.5px;
        
      }
      .card {
        min-width: 400px;
        height: 160px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        float: left;
        overflow: hidden;
      }
    
      .inbox {
        min-width: 400px;
        height: fit-content;
        max-height:150px;
        text-align: left;
        background: rgb(255, 255, 255, 0.75);
        opacity: 0.9;
        color: hsl(173, 51%, 19%);
        font-size: 0.8em;
    
      }
    
      a > h2 {
        color: hsl(173, 51%, 19%);
        text-align: center;
        margin: 0%;
        text-decoration: underline;
        font-size:1.2em;
      }
      a > h2:hover {
        color:black;
      }
    
      #one {
        background-image: url(https://imagesvc.meredithcorp.io/v3/jumpstartpure/image?url=https://cf-images.us-east-1.prod.boltdns.net/v1/static/3281700261001/6a204d6b-0fe4-45c8-a63e-b2e09c11de32/a13648d5-c0b9-4ded-8ecd-89aad8634e6c/1280x720/match/image.jpg&w=1280&h=720&q=90&c=cc);
        background-size: cover;
        border: black solid;
        min-width: 410px;
        width: 100%;
        min-height: 70px;
        
        
      }
        
      #two {
        background-image: url(https://www.adventure-journal.com/wp-content/uploads/2013/06/adventure-journal-songs-about-mountains.jpg);
        background-size: cover;
        border: black solid;
        min-width: 410px;  
        width:100%;
        min-height:70px;
        
      }
      #three {
        background-image: url(https://images7.alphacoders.com/807/807619.jpg);
        background-size: cover;
        border: black solid;
        min-width: 410px;
      
        width: 100%;
        min-height: 70px;
        
        
      }
      #four {
        background-image: url(https://factsghost.com/wp-content/uploads/2022/09/Ocean-theme.jpg);
        background-size: cover;
        border: black solid;
        min-width: 410px;
        width: 100%;
        min-height: 70px;
       
        
      }
    }
        